.wrapper_admin{
  .top-bar{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      box-shadow: 0 2px 4px rgba(108, 111, 115, 0.24);
      margin-bottom: 0.2em;
      padding: 0 2em;
      width: 100%;
      margin-top: -24px;
    }
  }