.content_admin {
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;

  margin-top: -6em;

}

.wrapper_admin {
  height: 99vh;
  width: 99vw;
  display: flex;
  justify-content: center;

}

